<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Endereço</title>
</head>
<body>
    <h1>Editar o Endereço</h1>
    <form action="/update/<%= address.id %>">
        <label for="logradouro">Logradouro: </label>
        <input type="text" id="logradouro" name="logradouro" value="<%= address.logradouro %>" />
        <label for="bairro">Bairro: </label>
        <input type="text" id="bairro" name="bairro" value="<%= address.bairro %>" />
        <label for="localidade">Localidade: </label>
        <input type="text" id="localidade" name="localidade" value="<%= address.localidade %>">
        <label for="uf">uf: </label>
        <input type="text" id="uf" name="uf" value="<%= address.uf %>">
        <input type="submit" value="salvar" />
    </form>
</body>
</html>