<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD de Endereços</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
   <h1>CRUD de Endereços</h1>
   <form action="/add" method="POST">
        <label for="cep">CEP: </label>
        <input type="text" id="cep" name="cep" required>
        <button type="submit">Adicionar Endereço</button>
   </form>

   <ul>
        <% addresses.forEach(address => { %>
        <li>
            <%= address.logradouro %>, <%= address.bairro %>, <%= address.localidade %>, <%= address.uf %>
            <form action="/delete/<%= address.id %>" method="POST" style="display: inline;">
                <button type="submit">
                    Deletar
                </button>
            </form>
        </li>
        <% }); %>
   </ul>
</body>
</html>
